
    html {
        height: 100%
    }

    body {
        height: 100%;
        margin: 0;
        padding: 0
    }

    #mapDiv {
        height: 100%;
    }
	
	#coordsDiv {
		position: absolute;
		background-color:white;
		border:1px solid black;
		bottom: 50px;
		right: 50px;
		height: 50px;
		width: 380px;
		padding-top: 5px;
		padding-left: 5px;
	} 
